[submodule "vim/pack/dist/start/nerdtree.git"]
	path = vim/pack/dist/start/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/dist/start/ack.vim.git"]
	path = vim/pack/dist/start/ack.vim.git
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/dist/start/vim-unimpaired.git"]
	path = vim/pack/dist/start/vim-unimpaired.git
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/dist/start/vim-airline.git"]
	path = vim/pack/dist/start/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/dist/start/fzf.vim.git"]
	path = vim/pack/dist/start/fzf.vim.git
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/dist/start/fzf.git"]
	path = vim/pack/dist/start/fzf.git
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/dist/start/vim-commentary"]
	path = vim/pack/dist/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/dist/start/ale"]
	path = vim/pack/dist/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/dist/start/tagbar"]
	path = vim/pack/dist/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/dist/start/vim-fugitive"]
	path = vim/pack/dist/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/dist/start/vim-rails.git"]
	path = vim/pack/dist/start/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/pack/dist/start/delimitMate.git"]
	path = vim/pack/dist/start/delimitMate.git
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/dist/start/editorconfig-vim.git"]
	path = vim/pack/dist/start/editorconfig-vim.git
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/dist/start/vim-yaml-helper.git"]
	path = vim/pack/dist/start/vim-yaml-helper.git
	url = https://github.com/lmeijvogel/vim-yaml-helper.git
[submodule "vim/pack/dist/start/vim-ragtag.git"]
	path = vim/pack/dist/start/vim-ragtag.git
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/pack/dist/start/vim-node"]
	path = vim/pack/dist/start/vim-node
	url = https://github.com/moll/vim-node
[submodule "vim/pack/dist/start/vim-abolish.git"]
	path = vim/pack/dist/start/vim-abolish.git
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/pack/dist/start/tabular.git"]
	path = vim/pack/dist/start/tabular.git
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/dist/start/vim-textobj-function.git"]
	path = vim/pack/dist/start/vim-textobj-function.git
	url = https://github.com/kana/vim-textobj-function.git
[submodule "vim/pack/dist/start/vim-textobj-function-javascript.git"]
	path = vim/pack/dist/start/vim-textobj-function-javascript.git
	url = https://github.com/thinca/vim-textobj-function-javascript.git
[submodule "vim/pack/dist/start/vim-textobj-rubyblock.git"]
	path = vim/pack/dist/start/vim-textobj-rubyblock.git
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/pack/dist/start/vim-textobj-user.git"]
	path = vim/pack/dist/start/vim-textobj-user.git
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/pack/dist/start/Wombat.git"]
	path = vim/pack/dist/start/Wombat.git
	url = https://github.com/vim-scripts/Wombat.git
[submodule "vim/pack/dist/start/badwolf.git"]
	path = vim/pack/dist/start/badwolf.git
	url = https://github.com/sjl/badwolf.git
[submodule "vim/pack/dist/start/vim-tomorrow-night-theme.git"]
	path = vim/pack/dist/start/vim-tomorrow-night-theme.git
	url = https://github.com/Ardakilic/vim-tomorrow-night-theme.git
[submodule "vim/pack/dist/start/wombat256.vim.git"]
	path = vim/pack/dist/start/wombat256.vim.git
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "vim/pack/dist/start/vim-ruby"]
	path = vim/pack/dist/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/pack/dist/start/vim-surround"]
	path = vim/pack/dist/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/dist/start/nvim-yarp"]
	path = vim/pack/dist/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/pack/dist/start/vim-hug-neovim-rpc"]
	path = vim/pack/dist/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/pack/dist/start/vim-javascript"]
	path = vim/pack/dist/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/dist/start/taboo.vim"]
	path = vim/pack/dist/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim/pack/dist/start/vim-toml"]
	path = vim/pack/dist/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/pack/dist/start/vim-monokai"]
	path = vim/pack/dist/start/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "vim/pack/dist/start/vim-colors-solarized"]
	path = vim/pack/dist/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/pack/dist/start/vim-go"]
	path = vim/pack/dist/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/dist/start/python-syntax"]
	path = vim/pack/dist/start/python-syntax
	url = https://github.com/vim-python/python-syntax
[submodule "vim/pack/dist/start/async.vim"]
	path = vim/pack/dist/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/pack/dist/start/vim-lsp"]
	path = vim/pack/dist/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/dist/start/vim-jsonpath"]
	path = vim/pack/dist/start/vim-jsonpath
	url = https://github.com/mogelbrod/vim-jsonpath
[submodule "vim/pack/dist/start/coc.nvim"]
	path = vim/pack/dist/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "vim/pack/dist/start/vim-gitgutter"]
	path = vim/pack/dist/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	branch = master
